<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <style>
    .body{
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(180deg, #FFCBD0 0%, #FDCB8D 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        font-family: "Roboto", sans-serif;
    }
    li p {
        margin: 0;
        padding: 0;
    }
    .container {
        background: #FFFFFF;
        display: block;
        margin: auto;
        align-items: center;
        justify-content: center;
        padding: 32px 24px 48px;
        border-radius: 12px;
        width: 576px;
        
    }
    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 48px;
    }
    .title {
        font-weight: 800;
        font-size: 32px;
        line-height: 34px;
        font-family: 'Roboto';
        text-align: center;
        color: #0D0F44;
        margin: 52px 0px 0px 0px;
        padding: 0;
        font-family: "Roboto", sans-serif;
    }
    .description {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        max-width: 85%;
        height: 60px;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        padding: 0;
        color: #0D0F44;
        font-family: "Roboto", sans-serif;
    }
    .description-name{
        font-weight: 600;
    }
    table{
        width: 100%;
        margin-top: 32px;
    }
    table, th, td {
        border: 1px solid #ECECEC;
        border-collapse: collapse;
      }
    table tr th {
        text-align: left;
        padding: 17px 20px;
    }
    table tr td{
        padding: 0;
        margin: 0;
        text-align: left;
        padding: 17px 20px;
    }
    .table-field{
        width: 40%;
    }
    .col-first {
        background: #FAFAFA;
        font-weight: 500;
        color: #0D0F44;
    }
    .col-second {
        color: #0D0F44;
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
    }
    .btn-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
        width: 100%;
    }
    .button-guide {
        width: 100%;
        padding: 12px;
        background: #FC6634;
        box-shadow: 0px 4px 32px rgba(252, 102, 52, 0.24);
        border-radius: 2px;
        border: none;
        font-weight: 600;
        font-size: 16px;
        color: #FFFFFF;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
    }

    .btn-container button:hover{
          cursor: pointer;
          background: #ea5455;
          transition-duration: 200ms;
    }
    @media screen and (max-width: 900px) {
        .container {
          width: 60%;
        }

        .description {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            max-width: 90%;
            height: 60px;
            text-align: center;
            margin-top: 0px;
            padding: 0;
            color: #0D0F44;
            font-family: "Roboto", sans-serif;
            margin-bottom: 60px;
        }
      }
    @media screen and (max-width: 640px) {
        .container {
          width: 80%;
          font-size: 14px !important;
        }

        .title {
            font-weight: 800;
            font-size: 24px;
            font-family: 'Roboto';
            text-align: center;
            color: #0D0F44;
            margin: 26px 0px 0px 0px;
            padding: 0;
            font-family: "Roboto", sans-serif;
        }
        .description {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            max-width: 90%;
            height: 60px;
            text-align: center;
            padding: 0;
            color: #0D0F44;
            font-family: "Roboto", sans-serif;
            margin-bottom: 60px;
        }

        .button-guide {
            width: 100%;
            padding: 12px;
            background: #FC6634;
            box-shadow: 0px 4px 32px rgba(252, 102, 52, 0.24);
            border-radius: 2px;
            border: none;
            font-weight: 600;
            font-size: 14px;
            color: #FFFFFF;
            text-transform: uppercase;
            font-family: "Roboto", sans-serif;
        }

        table{
            width: 100%;
            margin-top: 32px;
        }
        table, th, td {
            border: 1px solid #ECECEC;
            border-collapse: collapse;
        }
        table tr th {
            text-align: left;
            padding: 10px 14px;
        }
        table tr td{
            padding: 0;
            margin: 0;
            text-align: left;
            padding: 10px 14px;
        }
        .table-field{
            width: 40%;
        }
        .col-first {
            background: #FAFAFA;
            font-weight: 500;
            color: #0D0F44;
        }
        .col-second {
            color: #0D0F44;
            font-weight: 700;
            font-size: 14px;
        }

    }

    @media screen and (max-width: 400px) {
            .container {
              width: 80%;
              font-size: 14px !important;
            }
    
            .title {
                font-weight: 800;
                font-size: 20px;
                font-family: 'Roboto';
                text-align: center;
                color: #0D0F44;
                margin: 16px 0px 0px 0px;
                padding: 0;
                font-family: "Roboto", sans-serif;
            }
    
            .description {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                max-width: 100%;
                text-align: center;
                margin-top: 0px;
                padding: 0;
                color: #0D0F44;
                font-family: "Roboto", sans-serif;
                margin-bottom: 60px;
            }
        }
  </style>
</head>

  <body>
  <div class="body">
    <div class="container">
      <img src=<%= productLogo %> class="logo" />
      <h1 class="title">Yêu cầu thu âm lại</h1>
    <table>
      <tr>
        <th class="table-field col-first">Tên giọng</th>
        <th class="col-second"><%= voiceName %></th>
      </tr>
      <tr>
        <td class="col-first">Email</td>
        <td class="col-second"><%= email %></td>
      </tr>
    </div>
  </div>
  </body>
</html>
